[user]
	email = cpd@duck.com
	name = cpd

[push]
	autoSetupRemote = true
	useForceIfIncludes = true

[core]
	editor = code --wait

[pull]
	rebase = true

[merge]
	ff = false

[rebase]
	autoStash = true

# SSH commit signing
[gpg]
	format = ssh

[commit]
	gpgsign = true

[user]
	signingkey = ~/.ssh/id_ed25519
[gpg "ssh"]
	allowedSignersFile = /Users/Clayton.Duarte/.ssh/allowed_signers
